*.db
.web
.states
assets/external/
# Streamlit secrets (private credentials)
.streamlit/secrets.toml

# Python cache & virtual environment
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/

# Local databases (if dynamically fetched)

# OS-specific files
.DS_Store
Thumbs.db
